.faq {
	width: 100%;
	max-width: 732px;
	margin: 100px auto;
	padding-bottom: 70px;
	h2 {
		color: $color1;
		font-size: 142px;
		font-weight: 600;
	}
	h3 {
		font-size: 34px;
		color: $fontColor;
		line-height: 200%;
		font-weight: 400;
	}
}
