@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

$fontFamily: 'Work Sans', sans-serif;

$color1: #262262;
$color2: #e1c51b;
$color3: #da64b3;
$color4: #42bdeb;
$color5: #32a242;
$color6: #792a90;
$color7: #fcb040;
$color8: #ec008c;

$fontColor: rgba(0, 0, 0, 0.6);
$bgColor: #ffffff;
